body {
    font-family: "Nanum Gothic", sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#fileList {
    width: 1000px;
    border: none;
    border-collapse: collapse;
}

#fileList th {
    text-align: left;
    padding: 10px 5px;
}

#fileList td {
    padding: 5px;
}

#fileList tr:hover td {
    background-color: #eee;
}

#fileList tr.selected td {
    background-color: #ddd;
}

.td_folder,
.td_file {
    width: 500px;
}

.td_folder a:hover,
.td_file a:hover {
    text-decoration: underline;
}

.folder_icon,
.file_icon {
    margin-right: 10px;
    display: inline-block;
}

.file_name {
    width: 500px;
}

.file_modified {
    width: 300px;
}

.file_stat {
    width: 100px;
}

.file_size {
    width: 100px;
}

#login label {
    display: inline-block;
}

label[for=password] {
    font-size: 30px;
    vertical-align: bottom;
}

#password {
    padding: 10px;
    width: 330px;
    border-radius: 10px;
    border: 1px solid #aaa;
    background-color: #eee;
}

#password:focus {
    outline: none;
}

header {
    padding: 20px;
    width: 1000px;
}

header h1 {
    font-family: "Sunflower", sans-serif;
    font-weight: bold;
    font-size: 40px;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    width: 700px;
    height: 50px;
    margin: 0;
}

header h1 a {
    display: contents;
    color: initial;
    text-decoration: none;
}

header h1 img {
    height: 50px;
    margin-right: 10px;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 1000px;
}

#freeSpace {
    float: right;
    text-align: right;
    font-weight: bold;
    display: block;
    height: 50px;
    width: 300px;
    display: none;
}

#tools {
    margin-bottom: 10px;
}

#path {
    font-family: "Nanum Gothic Coding", monospace;
    display: none;
    background-color: #eee;
    padding: 0 10px;
    width: 730px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
}

#panel {
    width: 250px;
    height: 40px;
    text-align: right;
    float: right;
    display: none;
    user-select: none;
}

#panel label {
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
}

#rename_btn,
#delete_btn {
    opacity: 0.3;
}

#refresh_btn,
#newdir_btn,
#upload_btn {
    cursor: pointer;
}

#refresh_btn::before {
    content: "🔃";
}

#newdir_btn::before {
    content: "📁";
}

#upload_btn::before {
    content: "⬆️";
}

#rename_btn::before {
    content: "📝";
}

#delete_btn::before {
    content: "🗑️";
}

#upload {
    display: none;
}

#progress {
    width: 1000px;
    text-align: right;
    padding-top: 10px;
    color: red;
}

#context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 150px;
}

#context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#context-menu ul li {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}

#context-menu ul li:hover {
    background-color: #eee;
}